body {
    background-color: #F4F5FC;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.menu-superior{
    background-color: #111025;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.menu-superior .logo-img{
    width: 150px;
    margin: 20px;
}

.menu-superior .icone-login{
    width: 40px;
    margin: 20px;
}


.menu-lateral{
    width: 250px; 
    height: calc(100vh - 100px); /* Altura da tela menos o menu superior */
    background-color: #0F1634;
    top: 100px;
    left: 0; 
    position: fixed;
    padding: 20px;
    box-sizing: border-box; 
}

.menu-lateral .gerenciar-associados,
.menu-lateral .gerenciar-anuidades {
    margin-bottom: 30px;
}

.menu-lateral h3{
    color: white;
    margin-bottom: 10px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 17px;

}

.botao {
    display: block;
    margin: 10px 0;
    padding: 8px;
    width: 80%;
    border-radius: 1px;
    font-size: 16px;
    color: #ffffff;
    background-color: #1B213E;
    text-align: center;
    text-decoration: none; 
    border: none;
    font-family: "Titillium Web", sans-serif;
  }

  .botao.ativo {
    display: block;
    margin: 10px 0;
    padding: 8px;
    width: 80%;
    border-radius: 1px;
    font-size: 16px;
    color: #ffffff;
    background-color: red;
    text-align: center;
    text-decoration: none; 
    border: none;
    font-family: "Titillium Web", sans-serif;
}

.menu-lateral .gerenciar-anuidades input{
    background-color: #0F1635;
    border: 1px solid #D6DDD8;
    width: 80%;
    padding: 5px;
    color: #ffffff;
    font-size: 16px;
    border-radius: 4px; 
    font-family: "Titillium Web", sans-serif;
    margin-bottom: 10px;
}

.menu-lateral .gerenciar-anuidades input::placeholder {
    color: #A0A6B1; 
    opacity: 0.8;
}

.botao, .botao-salvar {
    display: block;
    margin: 10px 0;
    padding: 8px;
    width: 80%;
    border-radius: 4px;
    font-size: 16px;
    color: #ffffff;
    background-color: #1B213E;
    text-align: center;
    text-decoration: none;
    border: none;
    font-family: "Titillium Web", sans-serif;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.botao:hover, .botao-salvar:hover {
    background-color: #2D3A58; /* Cor de fundo mais clara ao passar o mouse */
    transform: scale(1.05); /* Efeito de aumento leve */
}

.botao:active, .botao-salvar:active {
    background-color: #1B213E; /* Volta para a cor original ao clicar */
    transform: scale(1); /* Remove o efeito de escala ao clicar */
}

.conteudo-principal {
    margin-left: 320px; /* Espaço para o menu lateral */
    padding-top: 120px; /* Espaço para o menu superior */
}

.conteudo-principal h3 {
    color: #111025;
    margin-bottom: 10px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}

.conteudo-principal h2 {
    color: #111025;
    margin-bottom: 10px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 17px;
    display: flex;
    justify-content: center;
}
/* ------------------------------ css para cadastrar associados */

/* Estilo geral do formulário */
form.formulario-cadastro {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "Titillium Web", sans-serif;
}

/* Estilo dos rótulos */
form.formulario-cadastro label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #111025;
}

/* Estilo dos inputs */
form.formulario-cadastro input[type="text"],
form.formulario-cadastro input[type="email"],
form.formulario-cadastro input[type="date"],
form.formulario-cadastro input[type="search"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    font-size: 16px;
    font-family: "Titillium Web", sans-serif;
    color: #333;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    
}

form.formulario-cadastro input[type="text"]:focus,
form.formulario-cadastro input[type="email"]:focus,
form.formulario-cadastro input[type="date"]:focus,
form.formulario-cadastro input[type="search"]:focus {
    border-color: #1B213E;
    outline: none;
}


/* Estilo do botão de submit */
form.formulario-cadastro button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #1B213E;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form.formulario-cadastro button[type="submit"]:hover {
    background-color: #2D3A58;
    transform: scale(1.05);
}

form.formulario-cadastro button[type="submit"]:active {
    background-color: #1B213E;
    transform: scale(1);
}

/* -------------------------- página de processar associados */
.mensagem-sucesso{
    margin-top: 20px;
    padding: 10px; 
    background-color: #f0f0f0;
    border: 1px solid #ccc; 
    border-radius: 5px;
    color:#111025;
}

.btn-voltar {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff; /* Azul padrão */
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-voltar:hover {
    background-color: #0056b3; /* Tom mais escuro para o hover */
    transform: scale(1.05);
}

.btn-voltar:active {
    background-color: #003d80; /* Tom ainda mais escuro ao clicar */
    transform: scale(1);
}

/* ---------------------------- css página listar associados */

.tabela-associados {
    width: 90%; /* Largura de 90% para dar espaço nas laterais */
    margin: 20px auto; /* Centraliza a tabela e adiciona uma margem superior */
    border-collapse: collapse;
    background-color: #f9f9f9;
    font-family: "Titillium Web", sans-serif;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Ajustes para margens e preenchimento */
.tabela-associados th,
.tabela-associados td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Cabeçalho da tabela */
.tabela-associados thead th {
    background-color: #0F1634;
    color: #ffffff;
    font-weight: bold;
}

/* Estilos adicionais para hover */
.tabela-associados tbody tr:hover {
    background-color: #f1f5fa;
}

/* Margem para a área geral */
.container-tabela {
    padding: 20px; /* Margem interna para toda a área da tabela */
}
/* Estilos para os botões de ações */
.botao-acao {
    padding: 6px 10px;
    margin: 0 5px;
    font-size: 14px;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-family: "Titillium Web", sans-serif;
    text-decoration: none;
}

/* Estilo do botão de editar */
.botao-acao.editar , 
.botao-acao.detalhar,
.botao-acao.pagar{
    background-color: #1B213E; /* Azul escuro */
}

.botao-acao.editar:hover {
    background-color: #2A52E6; /* Tom mais claro para hover */
}

/* Estilo do botão de excluir */
.botao-acao.excluir {
    background-color: #E63946; /* Vermelho */
}

.botao-acao.excluir:hover {
    background-color: #C22D3B; /* Tom mais escuro para hover */
}



/* Estilos para o status */
.status {
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: bold;
    color: #ffffff;
    font-size: 14px;
}

.status.pendente {
    background-color: #F4B400; /* Amarelo para Pendente */
}

.status.pago {
    background-color: #34A853; /* Verde para Pago */
}

.mensagem {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 10px;
    border: 1px solid #d6e9c6;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}

.mensagem p {
    margin: 0;
}


/* Para garantir que o conteúdo ocupe toda a largura da tela em telas menores */
@media (max-width: 768px) {
    .tabela-associados {
        font-size: 14px;
    }
}
